# Secretos / configuración local
.env

# Entornos virtuales
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Editor / SO
.vscode/
.DS_Store
Thumbs.db

# indices chroma_db
output/chroma_db/
